.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #E5E5E5;
  padding: 25px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu {
  padding-left: 244px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu_item {
  padding-left: 115px;
}

.menu_item a {
  font-size: 15px;
  line-height: 18px;
  color: #030305;
  text-decoration: none;
}

.menu_item a:hover {
  border-bottom: 2px solid black;
}

.main {
  display: flex;
  justify-content: center;
  background: url("../assets/img/background.png") center/contain no-repeat;
  padding: 104px 0 154px 0;
}

.main_title {
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  color: #030305;
  margin-bottom: 40px;
}

.main_text {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 40px;
  max-width: 502px;
}

.main_action {
  width: 334px;
  height: 64px;
  left: 360px;
  top: 576px;
}

.button {
  box-sizing: border-box;
  padding: 20px;
  width: 334px;
  height: 64px;
  background: #030305;
  border: 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: background-color 0.2s;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  background: #575757;
}

.button:disabled {
  cursor: not-allowed;
  color: gray;
  background-color: #343434;
}

.car {
  padding: 100px 0;
}

.sub-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #030305;
}

.car-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.car-item {
  max-width: 384px;
  text-align: center;
  margin-bottom: 40px;
}

.car-item_image:hover img {
  transform: scale(1.1);
}

.car-item_image img {
  vertical-align: bottom;
  transition: all .3s;
}

.car-item_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #030305;
  padding: 15px 0 17px 0;
}

.car-item_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-item_point {
  width: 110px;
  height: 92px;
  margin: 0 7px;
}

.car-item_point img {
  margin-bottom: 11px;
}

.car-item_action {
  margin-top: 13px;
}

.car-item_action .button {
  width: 100%;
  height: 54px;
  padding: 15px;
}

.car-item_point > div:nth-child(2) {
  font-weight: bold;
}

.price {
  overflow: hidden;
}

.price .container {
  position: relative;
  padding-bottom: 121px;
}

.price .sub-title {
  margin-bottom: 20px;
}

.price_text {
  font-size: 16px;
  line-height: 21px;
  color: #5D5D5F;
  margin-bottom: 60px;
}

.price_form {
  width: 344px;
}

.price_input {
  box-sizing: border-box;
  padding: 22px 18px;
  height: 65px;
  width: 344px;
  background: #fff;
  border: 1px solid #5D5D5F;
  font-size: 16px;
  color: #000;
  outline: none;
  margin-bottom: 15px;
}

.price_input::placeholder {
  color: #5D5D5F;
}

.price .button {
  width: 100%;
}

.price_img {
  position: absolute;
  bottom: 0;
  left: 481px;
}

.footer {
  border-top: 1px solid #E5E5E5;
  padding: 25px 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights {
  font-size: 15px;
  text-align: right;
  color: #030305;
}

.price_input.ng-touched.ng-valid {
  border: 1px solid #5D5D5F;
}

.price_input.ng-touched.ng-invalid {
  border: 1px solid red;
}
