<header class="header">
  <div class="container">
    <img src="../assets/img/logo.png" alt="logo">
    <nav class="menu">
      <ul>
        <li class="menu_item"><a href="#main">Главная</a></li>
        <li class="menu_item"><a href="#cars">Автомобили</a></li>
        <li class="menu_item"><a href="#price">Бронирование авто</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="main" id="main" [ngStyle]="bgPos">

  <div class="container">
    <div class="main_info">
      <h1 class="main_title">Аренда премиальных автомобилей</h1>
      <div class="main_text">
        В нашем клубе имеется солидная коллекция спортивных
        автомобилей — от достаточно распространенных серийных
        машин до настоящего гоночного эксклюзива. Воспользуйтесь
        уникальной возможностью побывать за рулем настоящей
        легенды и узнать, на что она способна за пределами гоночной
        трассы!
      </div>
      <div class="main_action" id="main_action">
        <button class="button" (click)="goScroll(cars)">Посмотреть автомобили</button>
      </div>
    </div>
  </div>

</div>

<div class="car" id="cars" #cars>
  <div class="container">
    <h2 class="sub-title">Наш автопарк</h2>
    <div class="car-items">
      <div class="car-item" *ngFor="let car of carsData">
        <div class="car-item_image">
          <img src="../assets/img/{{car.image}}" alt="Car">
        </div>
        <div class="car-item_title">
          {{car.name}}
        </div>
        <div class="car-item_info">
          <div class="car-item_point">
            <img src="../assets/img/gear.png" alt="Gear">
            <div>Привод</div>
            <div>{{car.engine}}</div>
          </div>
          <div class="car-item_point">
            <img src="../assets/img/wheel.png" alt="Wheel">
            <div>Двигатель</div>
            <div>{{car.wheel}}</div>
          </div>
          <div class="car-item_point">
            <img src="../assets/img/belt.png" alt="Belt">
            <div>Кол-во мест</div>
            <div>{{car.places}}</div>
          </div>
        </div>

        <div class="car-item_action">
          <button class="button car_button" (click)="goScroll(price, car)">
            Забронировать
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="price" id="price" #price>
  <div class="container">
    <h2 class="sub-title">
      Узнать цену и забронировать
    </h2>
    <div class="price_text">
      Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
    </div>
    <form action="" class="price_form" [formGroup]="priceForm" >
      <input type="text" class="price_input" placeholder="Ваше имя" id="name" formControlName="name">
      <input type="text" class="price_input" placeholder="Ваше телефон" id="phone" formControlName="phone">
      <input type="text" class="price_input" placeholder="Автомобиль, который вас интересует" id="car" formControlName="car">
      <div class="price_action" id="price_action">
        <button class="button" type="button" (click)="onSubmit()" [disabled]="!priceForm.valid">Узнать цену</button>
      </div>
    </form>
    <img class="price_img" src="../assets/img/rolls.png" alt="Rolls" [ngStyle]="trans">
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="Logo" >
    </div>
    <div class="rights">
      Все права защищены
    </div>
  </div>
</footer>

<script src="script.js"></script>
